#header{
    background-image: url("../images/empire 3.jpg");
}

h1{
    color: black;
    font-family: Oswald;
    font-size: 100px;
    letter-spacing: 0.3em
}

#title:hover{
    letter-spacing: 0.5em;
    font-weight: 700;
    color: gold;
}

.titleBorder{
    height: 200px;
    background-color: black;
    color: black;
}

.titleBorder:hover{
    background-color: white;
    color: gold;
    text-indent: 11em;
    font-family: JosefinSans;
}

.subtitle{
    padding-top: 50px;
    font-size: 75px;
    margin: auto;
}

.content-paragraph{
    margin: auto;
    color: #333;
    font-size: 20px;
    line-height: 26px;
    max-width: 640px;
    font-family: JosefinSans;
}

.content-paragraph:first-line{
    font-size: 30px;
    font-family: Oswald;
    line-height: 40px;
}

.movie-link{
    text-decoration: none;
    color: gold;
}
.movie-link:hover{
    text-decoration: underline;
    font-weight: 700;
}

.movie-link:visited{
    color: gold;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-left: 500px;
}

img {
    border: 20px solid darkblue;
}

#img-link:hover{
    border: 50px solid gold;
}

#first-bar {
  margin-top: 4em;
  padding: 1em;
}

/* menu */

header {
  position: fixed;
  background-color: black;
  width: 99%;
  height: 4em;
  top: 0px;
  font-family: Oswald;
  text-align: right;
}

/* menu buttons layer */

.menu-item {
  display: inline-block;
  margin: 1em .2em;
  background-color: gold;
  padding: 0.5em 1em;
  border-radius: 1em;
  min-width: 6em;
  text-align: center;
}

.menu-item:hover {
  background-color: darkblue;
  color: red;
}

/* styling the links */
.menu-item a {
  color: white;
  text-decoration: none;
}

/* dropdown */
.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  margin: 0.5em 0 0 -1em;
  color: black;
  background-color: white;
  z-index: 1;
  border-radius: 0em 0em 1em 1em;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: black;
}

/* styling dropdown display */
.dropdown-item {
  display: block;
  text align: left;
  margin: 0;
  padding: 0.5em 1em 0.5em 1em;
  min-width: 6em;
}

.dropdown-item:hover, .dropdown-item:hover a {
  color: white;
  background-color: darkblue;
}

#foundation:hover {
  border-radius: 0em 0em 1em 1em;
}

.dropdown:hover {
  border-radius: 1em 1em 0em 0em;
}

.site-name {
  color: gold;
  float: left;
  min-width: 6em;
  padding: 0.5 1em;
  letter-spacing: 0.3em;
  font-weight: bold;
  margin: 1em .2em;
}
